#savedCard {
    margin: 30px;
    padding-bottom: 30px;
    border: 3px solid black;
    border-radius: 0;
}

#saved {
    margin: 30px;
    padding-bottom: 50px;
    border: 2px solid black;
    border-radius: 0;
}

#savedTitleAuthorButtons {
    display: flex;
    justify-content: space-between;
}

.savedButtons {
    margin-left: 10px;
    box-shadow: 5px 5px;
}

#savedImgDescription {
    display: flex;
    margin-left: 20px;
}

#savedDescription {
    margin-left: 40px;
}

.active {
    width: 500px;
    z-index: 1;
}

@media screen and (max-width: 600px) {
    #savedImgDescription {
        display: block;
    }
}